# Golang CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/JackyChiu/slb
    steps:
      - checkout
      - run: go test --race -v ./...
